.about {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

}

.profile {
    width: 20vw;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80% 20%;
    place-content: center;
    place-items: center;
    margin: 20px;
}

.profile .imgContainer {
    border-radius: 50%;
    height: 15vw;
    width: 15vw;
}

.profileGrid {
    width: auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: 100%;
    place-content: center;
    place-items: center;
    gap: 20px;
}

.profile .button {
    width: 90%;
    margin: 0;
    padding: 20px;
}


@media (max-width: 1000px) {
    .profile {
        width: 300px;
    }

    .profile .imgContainer {
        height: 250px;
        width: 250px;
    }

    .profileGrid {
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }
}


@media (max-width: 768px) {
    .profileGrid {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
    }
}
