.about {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileGrid {
    display: flex;
    flex-direction: row;
}

.profile .button {
    width: 15vw;
}
