.counter {
    width: fit-content;
    align-self: start;
}

.counterBubble {
    width: auto;
    background-color: #f4e6e8;
    border-radius: 20px;
    padding: 10px 20px;
}

/* localStorage functionality based on https://www.sohamkamani.com/javascript/localstorage-with-ttl-expiry/#full-example */
