.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dateOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}
