.dates {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dateOptions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 0;
    align-items: center;
}

/* CALENDAR STYLING - ripped from react-calendar/dist/Calendar.css */
.react-calendar {
    max-width: 100%;
    line-height: 1.125em;
    padding-bottom: 20px;
}

.react-calendar--doubleView {
    width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
    display: flex;
    margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
    width: 50%;
    margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* #105bd8 (blue) #dd361c (red) #f4e6e8 (pale pink) #FCFCFC (offwhite) */

.react-calendar button {
    margin: 0;
    border: 0;
    outline: none;
}

.react-calendar button:enabled:hover {
    cursor: pointer;
    background-color: #105bd8;
    color: #FCFCFC;
}

.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
    border-bottom: 2px solid #dd361c;
    background-color: #f4e6e8;
}

.react-calendar__navigation button {
    min-width: 44px;
    background-color: transparent;
    color: black;
    padding: 0;
    border-radius: 0;
}

.react-calendar__navigation button:disabled {
    background-color: lightgrey;
}

.react-calendar__navigation button:hover {
    transform: none;
    box-shadow: none;
}

.react-calendar__navigation button:focus {
    border: 2px solid #105bd8;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f4e6e8;
    color: black;
}

.react-calendar__navigation__label {
    cursor: none;
    pointer-events: none;
}

.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
    padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-weight: bold;
}

.react-calendar__month-view__days__day {
    color: black;
}

.react-calendar__month-view__days__day--neighboringMonth {
    background-color: grey;
    color: #FCFCFC;
}

.react-calendar__tile {
    width: 20vw;
    height: 5vw;
    padding: 10px;
    margin: 10px;
    background: none;
    text-align: center;
    line-height: 16px;
    border-radius: 50%;
}

.react-calendar__tile:disabled {
    color: #FCFCFC;
    background-color: grey;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background-color: #FCFCFC;
}

.react-calendar__tile--now {
    background: #f4e6e8;
    color: black;
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus,
.react-calendar__tile--now:enabled:selected {
    background-color: #105bd8;
    color: #FCFCFC;
}

.react-calendar__tile--hasActive {
    background: #105bd8;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #105bd8;
}

.react-calendar__tile--active {
    background: #105bd8;
    color: black;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #105bd8;
}

@media (max-width: 768px) {
    .react-calendar__tile {
        height: 10vw;
    }
}
