.home .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.homeLeft, .homeRight {
    width: 50%;
}

.homeLeft{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
}

.homeRight {
    display: flex;
    flex-direction: column;
}

.img1 {
    align-self: left;
}
.img2 {
    align-self: flex-end;
}

/* Media Queries */
/* Small devices (portrait phones) */
@media (max-width: 768px) {
    .home .wrapper{
        flex-direction: column;
    }

    .homeLeft,
    .homeRight {
        width: 100%;
        margin-right: 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .img1,
    .img2 {
        align-self: center;
    }
}

/* Medium devices (landscape phones, tablets) */
@media (min-width: 768px) and (max-width: 1000px) {
    .homeLeft,
    .homeRight {
        width: 50%;
    }

    .homeLeft {
        margin-right: 20px;
    }

    .img1 {
        align-self: left;
    }

    .img2 {
        align-self: flex-end;
    }
}
